* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

body{
    background-color: rgb(118, 197, 239);
    font-family: 'Work Sans', sans-serif;
    flex-direction: column;
    user-select: none;
}

.ec-header {
    text-align: center;
    margin-top: 20px;
}
.Clubs {
}

.Athletics {
    
}